################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Bookify/.idea
/.vs
/src/Domain/obj
/src/Domain/bin
*.user
/src/Application/obj
/src/Application/bin
/src/Infrastructure/obj
/src/Infrastructure/bin
/src/Api/obj
/src/Api/bin
/obj/Docker
/.containers/database
/bin/Debug
/obj/Debug
