################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea/.idea.Bookify/.idea
/.vs
/src/Domain/obj
/src/Domain/bin
*.user
